dist: trusty

notifications:
  email:
    - mum4k-ci@elohim.sk

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - pkg-config
      - python
      - python-pip
      - unzip
      - wget
      - zip

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.21.0/bazel_0.21.0-linux-x86_64.deb
  - sha256sum -c bazel/bazel_0.21.0-linux-x86_64.deb.sha256
  - sudo dpkg --force-all -i bazel_0.21.0-linux-x86_64.deb
  - sudo /usr/bin/pip install platformio

script:
  - bazel build --incompatible_package_name_is_a_function=false --incompatible_remove_native_http_archive=false --incompatible_remove_native_git_repository=false //...
  - bazel test --incompatible_package_name_is_a_function=false --incompatible_remove_native_http_archive=false --incompatible_remove_native_git_repository=false //...
